<div class="container">
    <div class="row">
        <div>
            <h1 id="carName"></h1>
        </div>
        <div>
            <h3 class="text-danger" id="rentPrice"></h3>
        </div>
        <div>
            <p class="text-success" id="carDescription"></p>
        </div>

        <div id="leftGallery" class="col-lg-6 mb-6 mb-lg-0">

        </div>

        <div id="rightGallery" class="col-lg-6 mb-6 mb-lg-0">

        </div>
    </div>


    <form>
        <h2 class="text-center">Fill in your info</h2>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nameInput" class="form-label mt-4">Name</label>
                <input type="tel" class="form-control" id="nameInput" placeholder="Name">
            </div>

            <div class="col-sm-6">
                <label for="licenseInput" class="form-label mt-4">Driver License</label>
                <input type="tel" class="form-control" id="licenseInput" placeholder="Driver License">
            </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="emailInput" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>

            <div class="col-sm-6">
                <label for="phoneInput" class="form-label mt-4">Phone</label>
                <input type="tel" class="form-control" id="phoneInput" placeholder="Phone" autocomplete="off">
            </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="addressInput" class="form-label mt-4">Billing Address</label>
                <input type="number" class="form-control" id="addressInput" placeholder="Billing Address">
            </div>

            <div class="col-sm-6">
                <label for="cardInput" class="form-label mt-4">Credit Card</label>
                <input type="number" class="form-control" id="cardInput" placeholder="Credit Card">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Rent now!</button>
    </form>
</div>
</div>