<form id ="verify-form">
    <h2 class="text-center">Car Information</h2>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="make" class="form-label mt-4">Make</label>
            <input type="text" class="form-control" id="make" placeholder="Enter Make">
        </div>   
        <div class="col-sm-6">
            <label for="model" class="form-label mt-4">Model</label>
            <input type="text" class="form-control" id="model" placeholder="Enter Model">
        </div>      
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="year" class="form-label mt-4">Year</label>
            <input type="number" class="form-control" id="year" placeholder="Enter Year">
        </div>   
        <div class="col-sm-6">
            <label for="price" class="form-label mt-4">Price Per Day</label>
            <input type="number" class="form-control" id="price" placeholder="Enter Price">
        </div>      
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="city" class="form-label mt-4">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter City"> 
        </div>  
        <div class="col-sm-6">
            <label for="description" class="form-label mt-4">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Enter Description">
        </div>        
    </div>
    <hr>
    <button type="button" id="btnBack" class="btn btn-outline-primary">Back</button>
    <button type="button" id="btnUpdate" class="btn btn-primary">Update</button>
    <button type="button" id="btnDelete" class="btn btn-warning">Delete</button>
    <hr>
    <h2 class="text-center">Images</h2>
    <br>
    <div class="form-group row">
        <div class="col-sm-6">
            <table class="table table-hover" id ="img-table">
                <thead>
                    <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody id = "tbody">       
                </tbody>
            </table>
            <hr>
            <h3 class="text-center">Add Image</h3>
            <form>
                <label for="imageUpload" class="form-label mt-4">Select an image:</label>
                <input class="form-control" type="file" id="imageUpload" name="imageUpload" accept="image/*">
                <button type="button" id="btnImageUpload" class="btn btn-primary">Upload</button>
            </form>
        </div>
        
        <div class="col-sm-6">
            <img src="" alt="Image Preview" id="imagePreview" class="d-none">
        </div>       
    </div>
</form>

