<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prius Rental Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
        integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <link rel="stylesheet" href="/view/rent/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Prius</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Manage
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rent">Rent A Car</a>
                        <span class="visually-hidden">(current)</span>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <form>
                <fieldset>
                    <legend>What do you want to rent?</legend>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">City</label>
                        <select class="form-select" id="exampleSelect1">
                            <option>Fairfield</option>
                            <option>Ottumwa</option>
                            <option>Mount Pleasant</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Make</label>
                        <select class="form-select" id="exampleSelect1">
                            <option>Vinfast</option>
                            <option>Toyota</option>
                            <option>Honda</option>
                            <option>Tesla</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Model</label>
                        <select class="form-select" id="exampleSelect1">
                            <option>Prius</option>
                            <option>Corrola</option>
                            <option>Camry</option>
                            <option>RAV4</option>

                            <option>VF7 Electric</option>
                            <option>VF8 Electric</option>
                            <option>VF9 Electric</option>

                            <option>Accord</option>
                            <option>Civic</option>
                            <option>CRV</option>

                            <option>Model S</option>
                            <option>Model 3</option>
                            <option>Model X</option>
                            <option>Mode Y</option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Year</label>
                        <select class="form-select" id="exampleSelect1">
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Start Date</label>
                        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">End Date</label>
                        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Name">
                    </div>

                    <fieldset>
                        <h2>Fill in your info</h2>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">Name</label>
                            <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">Driver License</label>
                            <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Driver License">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">Phone</label>
                            <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Phone"
                                autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">Billing Address</label>
                            <input type="number" class="form-control" id="exampleInputPassword1"
                                placeholder="Billing Address">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">Credit Card</label>
                            <input type="number" class="form-control" id="exampleInputPassword1"
                                placeholder="Credit Card">
                        </div>

                    
                    </fieldset>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>